<h2>Profile</h2>
<pre>
<img [src]="doctorImage" alt="Profile Image" width="200"/>
Name :- <input value="{{Doctor.name}}">
Mobile No:- <input value="{{Doctor.mobileNo}}">
Gender:- <input value="{{Doctor.gender}}">
Age:- <input value=" {{Doctor.age}}">
Speciality <input value=" {{Doctor.speciality}}">
Experience <input value=" {{Doctor.experience}}">
Clinic Name:- <input value=" {{Doctor.clinicName}}">
Clinic Address:- <input value=" {{Doctor.clinicAddress}}">
Consultation Fees:- <input value=" {{Doctor.consultationFees}}">
</pre>