
.heading{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.btnedit{
    border: 0;
    border-radius: 0;
    background-color: black;
    margin-top: 10px;
}

.form{
    display: flex;
    justify-content: center;
}