
  .navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-link {
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #0056b3; /* Darker shade for hover effect */
  }

  .logout {
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
  }

  .logout:hover {
    color: #c82333; /* Darker red for hover effect */
  }

  .applogo {
    border-radius: 50%; /* Make logo circular */
  }

  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.2rem; /* Adjust font size for mobile */
    }
  }

.nav-item:hover{
   border-bottom: 2px solid black;
}
