.mod{
    height: 80px;
    width:auto;
    color: #1e5ed2;
    background-color: white;
    border: 0;
}

h3{
    text-align: center;
}

img{
    margin-left: 38vw;
}

.info{
    display: grid;
    gap: 30px;
    justify-content: space-around;

}

.container{
    margin-top: 20px;
}

.newuser{
    text-align: center;
    margin-top: 20vh;
}

.btnedit{
    border-radius: 0;

}