<div class="container mt-5">
  <div *ngIf="Doctor" class="profile-card p-4 rounded shadow">
    <h3 class="text-center mb-4">Your Profile</h3>
    <div class="text-center mb-3">
      <img [src]="doctorImage" alt="Profile Image" class="img-fluid rounded-circle shadow-sm" width="250"/>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4><i class="bi bi-person-fill"></i> Name: <span class="text-success">{{Doctor.name}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-info-circle-fill"></i> About Me: <span class="text-success">{{Doctor.about}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-telephone-fill"></i> Mobile No: <span class="text-success">{{Doctor.mobileNo}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-gender-ambiguous"></i> Gender: <span class="text-success">{{Doctor.gender}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
      </div>
      <div class="col-md-6">
        <h4><i class="bi bi-calendar-fill"></i> Age: <span class="text-success">{{Doctor.age}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-geo-alt-fill"></i> City: <span class="text-success">{{Doctor.city}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-star-fill"></i> Speciality: <span class="text-success">{{Doctor.speciality}}</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
        <h4><i class="bi bi-briefcase-fill"></i> Experience: <span class="text-success">{{Doctor.experience}} years</span>
          <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
        </h4>
      </div>
    </div>
    <h4><i class="bi bi-hospital-fill"></i> Clinic Name: <span class="text-success">{{Doctor.clinicName}}</span>
      <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
    </h4>
    <h4><i class="bi bi-house-fill"></i> Clinic Address: <span class="text-success">{{Doctor.clinicAddress}}</span>
      <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
    </h4>
    <h4><i class="bi bi-cash-stack"></i> Consultation Fees: <span class="text-success">{{Doctor.consultationFees}}</span>
      <button class="bi bi-pencil mod float-end" (click)="EditDetails()"></button>
    </h4>
  </div>

  <div *ngIf="!Doctor" class="newuser text-center mt-5">
    <i>
      <h1>Welcome New User!</h1>
      <p>Add Your Details From Here</p>
    </i>
    <button class="btn btn-outline-danger btnedit" (click)="addDetails()">Add Details</button>
  </div>
</div>

