<div class="container">
  <h3>Your Profile</h3>
  <!-- image -->
  <img src="" alt="Profile Img"/>
  <div class="info">
    <h6>
      Name:- <button class="bi bi-pencil mod" (click)="EditDetails()">Edit</button>
    </h6>
    <h6>Mobile No:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Gender:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Age:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Speciality:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Experience:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Clinic Name:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Clinic Address:- <button class="bi bi-pencil mod">Edit</button></h6>
    <h6>Consultation Fees :- <button class="bi bi-pencil mod">Edit</button></h6>

    <i>New User?</i>
    <button class="btn btn-danger" (click)="addDetails()">Add Details</button>
  </div>
</div>