
input{
    border-radius: 0;
    background-color: rgb(106, 235, 102);
}

.heading{
    text-align: center;
    background-color: rgb(25, 216, 121);
    padding: 14px;
}

.btnedit{
    border: 0;
    border-radius: 0;
    width: 40vw;
    margin-left: 20vw;
    margin-top: 3vh;
    // background-color: red;
    color: black;
}
