
.heading{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

.btnedit{
    border: 0;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
}

.form{
    width: 40%;
    justify-self: center;
}