<h3 class="heading">Login</h3>

<div class="form">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <div>
      <label for="exampleInputText" class="form-label mt-4">User Name</label>
      <input type="text" class="form-control" id="exampleInputText" placeholder="User Name" autocomplete="off" formControlName="username">
    </div>
    
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" formControlName="password">
    </div>

   <div class="button-wrapper">
      <input type="submit" class="btn-btn-success btnedit" value="Login" [disabled]="!loginForm.valid">
   </div>

   <div>
      Not a member? <a href="javascript:void(0)" (click)="teleport()" class="transform">Sign Up</a>
   </div>

</form>
</div>