input{
    border:0;
    margin-left:10px;
    text-align: center;
    padding:0;
    border-bottom: 2px solid blue;
}

.btnedit{
    margin-left: 20px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}