<div *ngIf="doctorInfo">
    <img [src]="doctorImage" alt="Profile Image" width="200"/>
    <h6>
      Name:- {{doctorInfo.name}}
    </h6>
    <h6>About Me :- {{doctorInfo.about}}</h6>
    <h6>Mobile No:- {{doctorInfo.mobileNo}} </h6>
    <h6>Gender:- {{doctorInfo.gender}} </h6>
    <h6>Age:- {{doctorInfo.age}} </h6>
    <h6>city:- {{doctorInfo.city}} </h6>
    <h6>Speciality:- {{doctorInfo.speciality}} </h6>
    <h6>Experience:- {{doctorInfo.experience}} </h6>
    <h6>Clinic Name:- {{doctorInfo.clinicName}} </h6>
    <h6>Clinic Address:- {{doctorInfo.clinicAddress}} </h6>
    <h6>Consultation Fees :- {{doctorInfo.consultationFees}} </h6>
  </div>